*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-image: url(../imagenes/Tile-Bg-Autumn.webp);
}
header{
    display: flex;
    justify-content: space-between;
    background-image: url(../imagenes/fc04a7b2f7f8565c38b4b41fa3c854e7c678fc56.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    overflow: hidden;
    padding-top: 20px;
}
.navbar{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    height: 50px;
    color: aqua;
}

.container-fluid{
    background-color: rgba(21, 0, 255, 0.5);
    height: 6vh;
    border: 6px solid rgba(21, 0, 255, 0.8);
}

#carouselExampleCaptions{
    margin: 40px auto;
    width: 70%;
}
.carousel-inner h5{
    font-size: 4rem;
    color: #c0c0c0;
}
.carousel-inner p{
    color: #c0c0c0;
    font-size: 1.5rem;
}
