*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-image: url(../imagenes/Tile-Bg-Autumn.webp);
}
header{
    display: flex;
    justify-content: space-between;
    background-image: url(../imagenes/fc04a7b2f7f8565c38b4b41fa3c854e7c678fc56.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    overflow: hidden;
}
.navbar{
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    height: 50px;
}
.container-fluid{
    background-color: rgb(29, 56, 123);
    height: 6vh;
}
.dropdown-menu{
    background-color: rgb(85, 90, 100);
}
.dropdown-item:hover{
    background-color: rgb(90, 186, 244);
}
.d-flex .btn{
    background-color: rgb(49, 98, 130);
    color: white;
    border: none;
}
#carouselExampleCaptions{
    margin: 40px auto;
    width: 70%;
}
#carouselExampleCaptions>p{
    color:rgb(90, 186, 244);
    font-size: 2rem;
}
.carousel-inner h5{
    font-size: 4rem;
    color: #c0c0c0;
}
.carousel-inner p{
    color: #c0c0c0;
    font-size: 1.5rem;
}
.imagenes-juegos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    gap: 20px;
    margin: 0 auto;
    width: 70%;
}
.image-juego{
    position: relative;
}
.texto-imagen{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 10px;
    color: rgb(190, 238, 17);
    background: rgb(76, 107, 34);
    font-size: 1.5rem;
}